.jParse { width: 50%; margin: 0 0 50px 0; }

.jParse { margin: 0 0 50px 0; }

.jParse ul { display: none; }

.jParse li { list-style: none; padding: 0 0 0 15px; }

.jParse li .jParseKey { display: inline-block; width: 200px; color: #2B94FF; }

.jParse .jParseObj { padding: 0; }

.jParse .jParseObj a { text-decoration: none; color: #2B94FF; }

.jParse .jParseObj a:before { content: '+'; display: inline-block; width: 15px; font-weight: bold; }

.jParse .jParseObj.jParseOpen > a:before { content: '-'; }

.jParse .jParseObj.jParseOpen > ul { display: block; padding: 0 0 0 20px; }

.jParseClose { display: block; }